<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booked</title>
    
</head>
<body>
    <p>Event successfully booked!</p>
    <a href="/" class="button">Return to home</a>
</body>
</html>